<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <%= image_tag 'https://exchange-luku.sgp1.digitaloceanspaces.com/uploads/lukutex_logo.png', alt: 'Lukutex Logo', class: 'logo-img' %>
          </td>
        </tr>
      </table>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <table role="presentation" class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <br />
                    <p>New <%= @record.currency %> beneficiary <b><%= @record.name %></b> created!</p>
                    <p>
                      Your <b>pin-code</b> for this beneficiary is <%= @record.pin %>.
                    </p>
                    <br /><br /><br />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <!-- END MAIN CONTENT AREA -->
        </table>
      </div>
      <!-- START FOOTER -->
      <div class="footer">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-block">
              <span>Warisan City View A13-14, 3/ 94A Batu 1 1/2 Jalan Cheras 56100 Kuala Lumpur Malaysia</span>
              <br><a href="http://lukutex.com">lukutex.com</a>
            </td>
          </tr>
        </table>
      </div>
      <!-- END FOOTER -->
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
